<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://www.icloud.com/sharedalbum/#B2J532ODW4LYty" download class="portfolio-box">
                    <img src="img/portfolio/IMG_1800.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Cuba 
                            </div>
                            <div class="project-category text-faded">
                                December 2024
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://adobe.ly/46VYcAB" class="portfolio-box">
                    <img src="img/portfolio/9Z7A6675.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Nairobi
                            </div>
                            <div class="project-category text-faded">
                                December 2025
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://adobe.ly/4pgkmnr" class="portfolio-box">
                    <img src="img/portfolio/9Z7A6346.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Kenya & Tanzania Safari
                            </div>
                            <div class="project-category text-faded">
                                December 2025
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank"href="https://adobe.ly/4dcm2tV" class="portfolio-box">
                    <img src="img/portfolio/9Z7A2463.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                             <div class="project-name">
                                Portland, OR
                            </div>
                            <div class="project-category text-faded">
                                May 2026
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://adobe.ly/4xsTnJk" class="portfolio-box">
                    <img src="img/portfolio/9Z7A4839.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Peru
                            </div>
                            <div class="project-category text-faded">
                                July 2026
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://adobe.ly/4AY7CJa" download class="portfolio-box">
                    <img src="img/portfolio/9Z7A3622.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                San Francisco, CA 
                            </div>
                            <div class="project-category text-faded">
                                2024-2026   
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>