<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/img/Java_Basics.pdf" download class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Java Basics
                            </div>
                            <div class="project-category text-faded">
                                An introduction to Java concepts for non-technical people
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://developer.veevavault.com/sdk/#email-processors" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Email Processors
                            </div>
                            <div class="project-category text-faded">
                                Vault Java SDK Documentation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://developer.veevavault.com/api/23.1/#file-staging" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                             <div class="project-name">
                                File Staging API
                            </div>
                            <div class="project-category text-faded">
                                Vault REST API Documentation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://platform.veevavault.help/en/lr/542174/" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tab Collections
                            </div>
                            <div class="project-category text-faded">
                                Vault UI Documentation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/img/Vault_Documentation_Process.pdf" download class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Vault Documentation Process
                            </div>
                            <div class="project-category text-faded">
                                A Lucidchart Visualization 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://developer.veevavault.com/mdl/#xml-string-configuration" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Web Sections
                            </div>
                            <div class="project-category text-faded">
                                Vault MDL Documentation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
