<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
                <p>I'm a technical writer from San Francisco who writes software documentation with a focus on developers. I especially enjoy creating content that explains technical things to non-technical people.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary"></i>
                    <h3>Writer</h3>
                    <p class="text-muted">I create documentation for UIs, APIs, SDKs, and more.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Developer</h3>
                    <p class="text-muted">I can read and create code samples in Java, JavaScript, and Python.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Evangelist</h3>
                    <p class="text-muted">My presentations on documentation processes have been called "helpful" and "mandatory."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Coffee Enthusiast</h3>
                    <p class="text-muted">I just really love coffee.</p>
                </div>
            </div>
        </div>
    </div>
</section>
